:root {
  --btn-bg-color: #0d0c22;
  --btn-bg-color-hover: #565564;
  --btn-text-white: #ffffff;
  --btn-text-white-hover: #ffffff;
  --btn-text-black: #333333;
  --btn-text-black-hover: #333333;
  --btn-border-color: var(--btn-bg-color);
  --btn-border-color-hover: var(--btn-bg-color-hover);
  /*  */
  --color-gray-200: #f3f3f3;
  --color-gray-300: #cdcdd0;
  --color-gray-400: #a6a6ad;
  --color-yellow: #ffda79;
  --color-blue: #c2f4fb;
  --color-purple: #cbdbff;
  --color-red: #e54b4d;
  --color-pink: #ff869d;
  --color-orange: #fcd0ba;
  /*  */
  --btn-height: 4.6rem;
  --btn-padding: 3rem 4rem;
  --btn-font-size: 1.8rem;

  /*  */
  --fs-sm: 1.8rem;
  --fs-md: 2.1rem;
  --fs-lg: 3.6rem;
  --fs-xl: 5.6rem;
  --fs-xxl: 6.4rem;
  --fs-xxxl: 7.6rem;
  /*  */
  --radius-lg: 2rem;
  --radius-md: 1rem;
  --radius-sm: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

h1 {
  line-height: 1.2;
  letter-spacing: -3px;
  font-weight: 500;
}
h2 {
  line-height: 1;
  font-weight: 500;
  letter-spacing: -1px;
}

h3 {
  line-height: 1.4;
  font-weight: 600;
}
p {
  line-height: 1.7;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20rem 5vw;
}
